extends layout

block content
  h1= 'Tristyn'
  p Welcome to #{'Tristyn'}
  img(src="images/IMG_8621.jpg")

block menu 
  div.container
        ul.row-md-12.row
          a(href="#")
            row-md-3.col-md-offset-1 Register
            row-md-3.col-md-offset-1 
          a(href="#")
            row-md-3.col-md-offset-1 Login
            row-md-3.col-md-offset-1 
          a(href="#")
            row-md-3 About Chatbox 